@charset "utf-8";
@font-face {
	font-family: LiberationMono-Regular;
	src: url(fonts/LiberationMono-Regular.ttf);
}
.embed-container {
	position: relative;
	padding-bottom: 26.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.clase{
	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
	font-family: LiberationMono-regular;
	font-size: 20px;
	
}
.description{
	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
	font-family: LiberationMono-regular;
	font-size: 14px;
}
